#nav a {
	 text-decoration: none;
	 color: black;
}

#hedgehog {
	width: 800px;
	height: auto;
	margin-top: 120px;
}

.mousectl {
	width: 190px;
	height: 140px;
	z-index: 1;
	opacity: 0.5;
	position: absolute;
}

#aboutCtl {
	left: 50px;
	top: 100px;
	cursor: pointer;
}

#listenCtl {
	left: 250px;
	top: 100px;
	cursor: pointer;
}

#orderCtl {
	left: 450px;
	top: 150px;
	cursor: pointer;
}

#allCtl {
	width: 300px;
	height: 210px;
	left: 110px;
	top: 250px;
}

#nav {
	list-style-type: none;
}

#nav li {
	position: absolute;
	width: 100px;
	font-size: 2em;
	display: none;
}

#about {
	top: 80px;
	left: 90px;
	rotate: -10deg;
}

#listen {
	top: 90px;
	left: 310px;
	rotate: 8deg;
}

#order {
	top: 160px;
	left: 530px;
	rotate: 14deg;
}

.content {
	max-width: 600px;
	margin: 10px;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 98vw;
	row-gap: 50px;
	align-items: center;
}

#more-roar {
	font-size: 9em;
	display: none;
	z-index: 2;
	margin-left: 100px;
	line-height: 0.8em;
	width: 500px;
}

@media screen and (max-width: 600px) {
	#hedgehog {
		width: 90vw;
		height: auto;
		margin-top: 120px;
	}

	#nav li {
		display: block;
		font-size: 1.2em;
	}

	#container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: revert;
	}

	#more-roar {
		font-size: 6em;
		display: block;
	}

	#about {
		top: 100px;
		left: 20px;
		rotate: -10deg;
	}

	#listen {
		top: 110px;
		left: 150px;
		rotate: 8deg;
	}

	#order {
		top: 150px;
		left: 270px;
		rotate: 16deg;
	}

	.mousectl {
		display: none;
	}

}