#nav a {
	 text-decoration: none;
	 color: black;
}

#hedgehog {
	width: 800px;
	height: auto;
	margin-top: 40px;
}

.mousectl {
	width: 190px;
	height: 140px;
	z-index: 1;
	opacity: 0.5;
	position: absolute;
}

#nav {
	list-style-type: none;
}

#nav li {
	position: absolute;
	width: 100px;
	font-size: 2em;
}

#about {
	top: 140px;
	left: 90px;
	rotate: -10deg;
}

#listen {
	top: 150px;
	left: 310px;
	rotate: 8deg;
}

#order {
	top: 220px;
	left: 530px;
	rotate: 14deg;
}

.content {
	max-width: 600px;
	margin: 10px;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 98vw;
	row-gap: 50px;
	align-items: center;
}

#more-roar {
	font-size: 6em;
	z-index: 2;
	line-height: 0.8em;
	width: auto;
}

.page-img {
	width: 80%;
}

.italic {
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.italic:hover {
	text-decoration:underline;
}

#hhgCtl {
	position: absolute;
	width: 700px;
	height: 300px;
	top:310px;
	left: 20px;
	transform: rotate(15deg);
	z-index: 2;
}


@media screen and (max-width: 600px) {
	#hedgehog {
		width: 350px;
		height: auto;
	}

	#hhgCtl {
		display: none;
	}

	#nav li {
		display: block;
		font-size: 1.2em;
	}

	#container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: revert;
		justify-content: left;
	}

	#more-roar {
		font-size: 5em;
		display: block;
		margin-left: 10px;
		width: 90vw;
	}

	#about {
		top: 200px;
		left: 20px;
		rotate: -10deg;
	}

	#listen {
		top: 210px;
		left: 130px;
		rotate: 8deg;
	}

	#order {
		top: 250px;
		left: 230px;
		rotate: 16deg;
	}

	.mousectl {
		display: none;
	}

}